.cta {
    background-color: #000;
    color: #ffffff;
    min-height: 70vh; 
    height: 70vh;
}
.cta-img {
    height: 100%;
    background-image: url('../../assets/maze.jpg');
    background-size: cover;
}
.blockquote .display-6 {
    line-height: 55px;
}
.blockquote small {
    font-weight: 600;
}

.cta-btn {
    font-weight: 500;
    font-size: .9em;
    margin-top: 1rem;
}
.blockquote {
    padding-top: 6rem;
    padding-bottom: 0;
}
.cta-quote {
    font-weight: 400;
    position: relative;
    margin-bottom: 5rem;
}
.cta-quote::before {
    content: '\0022';
    font-size: 4rem;
    font-weight: 700;
    position: absolute;
    top: -3rem;
    left: 0;
}
.cta-quote::after {
    content: '\0022';
    font-size: 4rem;
    font-weight: 700;
    position: absolute;
    bottom: -5rem;
    left: 0;
}

.cta-3 {
    background-image: url('../../assets/shirts.jpg');
    background-size: 100% 100%;
    position: relative;
}
.cta-3::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
.cta-3-container {
    position: relative;
    z-index: 1;
}