
.coupon {
    background-color: #000;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.coupon strong {
    font-weight: 900;
}

@media(max-width: 640px) {
    .coupons .container-xl {
        display: flex !important;
        align-items: center !important;
        flex-wrap: wrap !important;
        gap: 1rem !important;
    }   
    .coupon {
        width: 47%;
    }
}