
.col-woman {
    background-image: url('../../assets/gender-woman.jpg');
}
.col-man {
    background-image: url('../../assets/gender-man.jpg');
}

.col-woman,
.col-man {
    height: 400px;
    background-size: 100% 100%;
    padding-bottom: 1rem;
}
.gender .btn {
    width: 40%;
    font-weight: 500;
}
.gender .btn:not(:last-child) {
    margin-bottom: 1rem;
}

@media(max-width: 640px) {
    .col-man,
    .col-woman {
        padding-bottom: 0;
        width: 100%;
    }
    .gender .btn:not(:last-child) {
        margin-bottom: 1px;
    }
    .gender .btn {
        width: 100%;
        background-color: #000;
        border-color: #000;
        color: #fff;
    }
}