.products {
    background-color: #000;

}
.products-2 {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

    background-color: #FFFFFF;
    
}
.products-2 .product-item {
    color: #000;
}
.product-item {
    color: #fff;
}
.product-item .display-6 {
    margin-bottom: 0;
    font-weight: 300;
    margin-top: 0;
    font-size: 1em;
}
.product-item h6 {
    margin-bottom: 0;
}
@media(max-width: 640px) {
    .products,
    .products-2 {
        margin-top: 2rem;
        padding-top: 2rem;
        padding-right: 0 !important;
        padding-left: .5rem !important;
    }
    .container-xxl{
        padding-bottom: 2rem!important;
    }
    .products-header .btn {
        padding-right: 1.7rem !important;
        padding-left: 1.7rem !important;
    }
}