.showcase {
    min-height: 75vh;
    height: 75vh;
}
.showcase-content {
    background-color: #000;
    height: 40%;
    color: #fff;
}
.showcase-text {
    border-bottom: 1px solid #fff;
    padding-bottom: 1rem;
    width: 100%;
}
.showcase-img-sm {
    height: 60%;
}
.showcase-img-sm img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.showcase-img-full img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.showcase-text .btn {
    font-weight: 500;
}

@media(max-width: 640px) {
    .showcase {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .showcase-content {
        width: 100%;
        padding: 5rem 2rem !important;
    }
    .showcase-col1 {
        width: 100% !important;
    }
    .showcase-img-full {
        width: 100%;
    }
}